/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.background-color {
  background-image: linear-gradient(#1c5380, #06365f);
  height: 21rem;
  width: 100%;
}

.phone{
  position: absolute;
  top: 11rem;
  left: 18rem;
}

.logo{
  display: right;
  height: 5rem;
  margin-right: 5rem;
}

.login-img{
  vertical-align: middle;
  padding: 0.25rem;
}

.header {
  height: 10rem;
  display: flex;
  position: absolute;
  top: 11rem;
  left: 44rem;
}

.info{
  border-radius: 2%;
  position: absolute;
  top: 17rem;
  left: 45rem;
  width: 30rem;
  background-color: white;
}


html {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: white; 
}

h2{
  margin-left: 2rem;
}

.insta-inf{
  margin-left: 2rem;
  text-align: justify;
  width: 85%;
}




.background {
  height: 30rem;
  background-color: gradient;


} 
.botton{
  height: 3rem;
    margin-top: 1rem;
    background-image: linear-gradient(#1c5380, #06365f);
    color: white;
    box-sizing: border-box;
    width: 6rem;
}


.stores{
  margin:2rem;
}

footer{
  position: absolute;
  top: 46rem;
  text-align: center;
  display: flex;
  left: 26rem;
}

ul{
  list-style-type: none;
  margin-right: 1rem;
}

ul li{
  display: inline;
}

.short-cut{
  margin: 0.5rem;
  color: #1c5380;
}

.water-mark{
  color:grey;
}